# application.yml
eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

spring:
  rabbitmq:
    host: rabbitmq-service  # (★) 'service-rabbitmq.yml'의 'metadata.name'과 일치!
    port: 5672
    username: guest
    password: guest

# --- Zipkin 설정 추가 ---
management:
  tracing:
    sampling:
      probability: 1.0 # 모든 요청을 추적하도록 설정 (개발/테스트용)

  zipkin:
    tracing:
      endpoint: http://zipkin-service:9411/api/v2/spans # (★) 'service-zipkin.yml'의 'metadata.name'과 일치!

custom-log-pattern: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] %m%n"

logging:
  pattern:
    console: ${custom-log-pattern}
  # 모든 MSA 서비스의 로그 파일이 저장될 공통 경로
  # (Windows: C:\var\log\msa-logs)
  # (Mac/Linux: /var/log/msa-logs)
  file:
    # path: /var/log/msa-logs 'path' 대신 'name'을 사용하여 서비스별 로그 파일을 생성합니다.
    name: /var/log/msa-logs/${spring.application.name}.log
    pattern: ${custom-log-pattern}