# application.yml
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

# --- Zipkin 설정 추가 ---
management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans # Zipkin 서버의 데이터 수집 API 주소
  tracing:
    sampling:
      probability: 1.0 # 모든 요청을 추적하도록 설정 (개발/테스트용)

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] %m%n"
  # 모든 MSA 서비스의 로그 파일이 저장될 공통 경로
  # (Windows: C:\var\log\msa-logs)
  # (Mac/Linux: /var/log/msa-logs)
  file:
    path: /var/log/msa-logs